{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div>
    <section class="jumbotron text-center mb-0">
        <div class="container">
            <h1 class="jumbotron-heading">Authors</h1>
            <p class="lead text-muted">The application was developed by ICT students of
                AGH University of Science and Technology as a project on Software Engineering course.</p>
        </div>
    </section>
    <hr class="mb-5">
</div>

<div class="container">
    <div class="row mb-1">
        <div class="col-6 text-right">
            <p class="lead text-muted mb-0">Paweł Czaja</p>
        </div>
        <div class="col-6">
            <a class="text-muted" href="https://github.com/GitHub-Pawel" target="_blank">
                <p class="lead mb-0"><i class="fa fa-github"></i> github.com/GitHub-Pawel</p>
            </a>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-6 text-right">
            <hr class="mb-1 mt-1">
        </div>
        <div class="col-6">
            <hr class="mb-1 mt-1">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-6 text-right">
            <p class="lead text-muted mb-0">Mateusz Morawiec</p>
        </div>
        <div class="col-6">
            <a class="text-muted" href="https://github.com/mmorawiec03" target="_blank">
                <p class="lead mb-0"><i class="fa fa-github"></i> github.com/mmorawiec03</p>
            </a>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-6 text-right">
            <hr class="mb-1 mt-1">
        </div>
        <div class="col-6">
            <hr class="mb-1 mt-1">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6 text-right">
            <p class="lead text-muted mb-0">Mikołaj Stoch</p>
        </div>
        <div class="col-6">
            <a class="text-muted" href="https://github.com/miko083" target="_blank">
                <p class="lead mb-0"><i class="fa fa-github"></i> github.com/miko083</p>
            </a>
        </div>
    </div>
</div>

{% endblock %}
