{% extends "base.html" %}

{% block content %}
<div class="container">

	<div class="row mb-2">
		<h3>Search for products</h3>
	</div>

	<div class="row mb-1">
		<div class="col-5"><label>Name of the product</label></div>
		<div class="col"><label>Quantity</label></div>
		<div class="col"><label>Min price [zł]</label></div>
		<div class="col"><label>Max price [zł]</label></div>
		<div class="col"><label>Min reputation</label></div>
	</div>

	<form name="inputForm" action="#" method="post" onsubmit="return validateForm()">
		{% for i in range(5) %}
			<div class="row mb-3">
				<div class="col-5">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">{{i+1}}</span>
						</div>
						<input type="text" class="form-control" name="productName{{i}}">
					</div>
				</div>
				<div class="col">
					<input type="number" min="0" max="20" class="form-control" name="quantity{{i}}">
				</div>
				<div class="col">
					<input type="number" min="0" class="form-control" name="minPrice{{i}}">
				</div>
				<div class="col">
					<input type="number" min="0" class="form-control" name="maxPrice{{i}}">
				</div>
				<div class="col">
					<input type="number" min="1" max="5" class="form-control" name="reputation{{i}}">
				</div>
			</div>
		{% endfor %}
		<hr class="mb-3">
		<div class="mb-3 text-center">
			<button class="btn btn-dark btn-lg" type="submit">Search</button>
		</div>
	</form>

</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename="scripts/input.js") }}"></script>
{% endblock %}