{% extends "base.html" %}
{% block content %}

<div class="row mb-1">
    <div class="col-5"><label>Name of the product</label></div>
    <div class="col"><label>Quantity</label></div>
    <div class="col"><label>Min price</label></div>
    <div class="col"><label>Max price</label></div>
    <div class="col"><label>Min reputation</label></div>
</div>

{% for value in context %}
    <div class="row mb-3">
        <div class="col-5">
            {{value[0]}}
        </div>
        <div class="col">
            {{value[1]}}
        </div>
        <div class="col">
            {{value[2]}}
        </div>
        <div class="col">
			{{value[3]}}
        </div>
        <div class="col">
            {{value[4]}}
        </div>
    </div>
{% endfor %}


<hr class="mb-4">
<div class="text-center">
    <a href="/">
        <button class="btn btn-primary btn-lg" style="width: 300px" type="submit">Search again</button>
    </a>
</div>
{% endblock %}