.logo {
	width: 70%;
	height: 70%;
}

.container-fluid {
    padding: 0px;
}

.big-btn {
    @extend .btn;
    width: 300px;
}

.footer {
    bottom: 0;
    width: 100%;
}

.nav-paragraph {
    color: white;
}

.nav-paragraph:hover {
    color: silver;
}
